@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

h1,
h2 {
  font-weight: 600;
}

code {
  font-family: ui-monospace, Consolas, monospace;
}